.input-section > form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.degree-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.degree-section > input {
  margin-top: 12px;
  margin-right: 12px;
}

.degree-section > input:focus {
  outline: none;
}

.type-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* .btn-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-section > button {
  height: 45px;
  width: 100%;
  border: none;
  margin-top: 12px;
  border-radius: 12px;
  font-size: x-large;
  color: white;
  font-weight: bold;
  background-color: rgb(65, 196, 225);
}

.btn-section > button:hover {
  background-color: rgba(65, 196, 225, 0.92);
} */

label {
  color: gray;
}

